<%- include('partials/header', { title: 'Experiencia Deportiva' }) %>

<section class="section">
    <div class="container">
        <h1 class="title">Experiencia Deportiva</h1>
        <p>Competí en natación durante 8 años, pero una lesión en la columna me hizo retirarme. Ahora disfruto ir al gimnasio.</p>
    </div>
</section>

<%- include('partials/footer') %>
