<%- include('partials/header', { title: 'Página Principal' }) %>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">MI BLOG PERSONAL</h1>
            <p class="subtitle">Descubre más sobre mí, mis pasiones, mis viajes y mi experiencia.</p>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
